<link rel="stylesheet" href="css/index.css">
<h1>Hello to <%= name %> to <%= city %></h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae beatae minima exercitationem doloribus aperiam facilis explicabo accusantium voluptatem in, libero, aliquam tenetur minus quae, laborum sunt. Numquam sequi sit error!</p>
<%- include ./partials/list %>
<script src="js/main.js"></script>
<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illum ipsum excepturi dicta, eos incidunt asperiores porro laboriosam. Magni facilis nesciunt est laboriosam officiis, corporis voluptas a maiores accusantium sit?</p>
</div>
